<div id="<%= dom_id lawsuit %>">
  <p>
    <strong>User:</strong>
    <%= lawsuit.user_id %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= lawsuit.active %>
  </p>

  <p>
    <strong>Case number:</strong>
    <%= lawsuit.case_number %>
  </p>

  <p>
    <strong>Case title:</strong>
    <%= lawsuit.case_title %>
  </p>

  <p>
    <strong>Date filed:</strong>
    <%= lawsuit.date_filed %>
  </p>

  <p>
    <strong>Cmc:</strong>
    <%= lawsuit.cmc %>
  </p>

  <p>
    <strong>Judge name:</strong>
    <%= lawsuit.judge_name %>
  </p>

  <p>
    <strong>Judge dept:</strong>
    <%= lawsuit.judge_dept %>
  </p>

  <p>
    <strong>Case status:</strong>
    <%= lawsuit.case_status %>
  </p>

  <p>
    <strong>Last roa:</strong>
    <%= lawsuit.last_roa %>
  </p>

  <p>
    <strong>Plt caption:</strong>
    <%= lawsuit.plt_caption %>
  </p>

  <p>
    <strong>Def caption:</strong>
    <%= lawsuit.def_caption %>
  </p>

</div>
