<div id="<%= dom_id lawsuit %>">
  
  <p>
    <strong>Case number:</strong>
    <%= lawsuit.case_number %>
  </p>

  <p>
    <strong>Case title:</strong>
    <%= lawsuit.case_title %>
  </p>

  <p>
    <strong>Date filed:</strong>
    <%= lawsuit.date_filed %>
  </p>



<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Case No.</th>
      <th scope="col">Case Title</th>
      <th scope="col">Filed</th>
    </tr>
    <tbody>
      <tr>
        <th scope="row"><%= @lawsuit.number %></th>
        <td><%= @lawsuit.case_title %></td>
        <td><%= @lawsuit.date_filed %></td>
      </tr>
    </tbody>
  
</table>








</div>
