   
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <%= link_to image_tag("logo"), root_path %>
        <a class="navbar-brand" style="color: green;" href="#">Law Office of Zachary T. Tyson</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            
            <li class="nav-item">
              <%= link_to "Lawsuits", lawsuits_path, class:"btn btn-success" %>
            </li>

            <li>
                <%= link_to "Clients", clients_path, class:"btn btn-info" %>
            </li>

            <li>
                <%= link_to "Attorneys", attorneys_path, class:"btn btn-warning" %>
            </li>


            <li>
                <%= link_to "User-Lawsuits", pages_ul_path, class:"btn btn-outline-success" %>
            </li>

            
                <li>
                    <%= link_to "Admin", admin_index_path, class:"btn btn-secondary" %>
                </li>
        



            <li>
                <%= button_to "Log Out", destroy_user_session_path, method: :delete, class:"btn btn-danger position-absolute top-5 end-0"  %>
            </li>

          </ul>
          
        </div>
      </div>
    </nav>
</div>