<div id="<%= dom_id attorney %>">
  <p>
    <strong>Sbn:</strong>
    <%= attorney.sbn %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= attorney.name %>
  </p>

  <p>
    <strong>Firm:</strong>
    <%= attorney.firm %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= attorney.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= attorney.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= attorney.state %>
  </p>

  <p>
    <strong>Zip:</strong>
    <%= attorney.zip %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= attorney.phone %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= attorney.email %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= attorney.website %>
  </p>

  <p>
    <strong>Discipline:</strong>
    <%= attorney.discipline %>
  </p>

</div>
