<p style="color: green"><%= notice %></p>

<div class="container-fluid">

    <%= render @attorney %>
<br>
<hr>
     <%= link_to "Envelope", pages_attyenvelope_path(@attorney), class: "btn btn-warning" %>
     <%= link_to "Letter", pages_attycorres_path(@attorney), class: "btn btn-warning" %>
<br>    
<hr>
    <div>
      <%= link_to "Edit this attorney", edit_attorney_path(@attorney) %> |
      <%= link_to "Back to attorneys", attorneys_path %>

      <%= button_to "Destroy this attorney", @attorney, method: :delete %>
    </div>



</div>
