<div id="<%= dom_id journal %>">
  <p>
    <strong>Event date:</strong>
    <%= journal.event_date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= journal.description %>
  </p>

  <p>
    <strong>Binder:</strong>
    <%= journal.binder %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= journal.note %>
  </p>

  <p>
    <strong>Cost:</strong>
    <%= journal.cost %>
  </p>

  <p>
    <strong>Lawsuit:</strong>
    <%= journal.Lawsuit_id %>
  </p>

</div>
